@import "../node_modules/bootstrap/scss/bootstrap.scss";
$custom-border-radius: 20px;
$light: #3453ec;


.border{
    border-radius: $custom-border-radius;
      
}

.ms-1 {
    margin-left: ($spacer * 15) !important;
}

.ms-2{
    margin-left: ($spacer * 18) !important;
}
.bg-Lightblue{
    background-color: rgb(201, 246, 246);
}
.bg-blue{
    background-color: blue;
}