@import "../node_modules/bootstrap/scss/bootstrap.scss";
$custom-border-radius: 20px;

#banner {
    height: 600px;
    background: url('/server-rack.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: -74px;
    color: $light;
}

.border{
    border-radius: $custom-border-radius;
      
}

.ms-1 {
    margin-left: ($spacer * 15) !important;
}

.ms-2{
    margin-left: ($spacer * 18) !important;
}
.bg-Lightblue{
    background-color: rgb(201, 246, 246);
}
.bg-blue{
    background-color: blue;
}